@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap');
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
	user-select: none;
}

.dano {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px 0px 180px -55px rgba(157, 167, 226, 0.75);
}

#server{
    position: absolute;
    right: 20px;
    top: 25px;
  }

.watermark {
    position: absolute;
    right: 1%;
    bottom: .4%;
    color: #fff;
    opacity: .7;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-flex;
}

.discord {
    position: absolute;
    right: 1%;
    top: 11%;
    color: rgb(200, 200, 200);
    opacity: .9;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-flex;
}

.barraText {
	font-weight: 700;
	right: 85%;
    height: 0px;
    bottom: 93%;
    font-size: 13px;
	color: rgba(0, 0, 0, 0.7);
	position: absolute !important;
	text-align: center;
}

.watermark img {
    position: relative;
    top: -880px;
    height: 100px;
    width: 100px;
}

.info {
    display: inline-flex;
}

.hud {
    position: absolute;
    bottom: 3px;
    right: 35px;
    width: 181.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barras {
    width: 400px;
    height: 35px;
    margin-left: 2px;
    margin-top: -30px;
}

.barras .barra {
    position: relative;
    width: 100px;
    height: 23px;
    background-color: rgba(0, 0, 0, 0.26);
    margin: -5 5px 0 5px;
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,1));
    transform: skewX(-12deg);
    display: inline-flex;
}

.stamina {
    top: -5px;
    width: 200px !important;
}

.fill {
    min-width: 0%;
    height: 100%;
    transition: all .5s;
}

.animM {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #ffffff5b
}

.animC {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #a7859a
}

.animL {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #d5625b
}

.animF {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #736b36
}

.animS {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #778694
}

@keyframes neon {
    from {
        box-shadow: 0px 0px 7px 3px transparent;
    }
    to {
        box-shadow: 0px 0px 7px 3px var(--cor);
    }
}

@keyframes pulse {
    from {
        box-shadow: inset 0px 0px 32px 6px transparent;
    }
    to {
        box-shadow: inset 0px 0px 180px -55px rgba(69, 87, 189, 0.75);
    }
}